@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-heading: "Outfit", sans-serif;
  --font-body: "Roboto", sans-serif;
  --bg-color: #2d0070;
  --foreground-color: white;
  --primary-color: #9e3ee7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-body);
  background-color: var(--bg-color);
  color: var(--foreground-color);
}

h1 {
  font-size: 87px;
  font-family: var(--font-heading);
}
h2 {
  font-size: 57px;
  font-family: var(--font-heading);
  line-height: 1;
}
h3 {
  font-size: 20px;
  font-family: var(--font-heading);
  line-height: 27.5px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 27.5px;
  font-family: var(--font-body);
}

.text-md {
  font-size: 16px;
  line-height: 120%;
  font-family: var(--font-body);
}

.text-sm {
  font-size: 14px;
  line-height: 120%;
  font-family: var(--font-body);
}

.container {
  max-width: 1065px;
  margin: 0 auto;
}

button {
  padding: 22px 32px;
  font-size: 20px;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 600;
  font-family: var(--font-body);
  letter-spacing: 2px;
}

.solid-btn {
  background-color: var(--primary-color);
  color: var(--foreground-color);
  border: none;
}

.outline-btn {
  background-color: transparent;
  color: var(--foreground-color);
  border: 2px solid var(--primary-color);
  overflow: hidden;
  position: relative;
}

.outline-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: var(--primary-color);
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.outline-btn:hover:before {
  left: 0;
  z-index: -1;
}
.outline-btn span {
  color: white;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.outline-btn:hover span {
  color: white;
}


/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 48px;
/* height: 70px; */

  .menu-icon{
    display: none;

  }

  .menu-icon i{
    font-size: 30px;
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
  gap: 76px;
}

ul li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: var(--foreground-color);
  transition: 0.3s ease-in-out;
  font-family: var(--font-heading);

  &:hover {
    text-decoration: underline;
  }

 
}

/* Hero section -- Unleash Digital */

.hero-section {
  display: flex;
  align-items: center;

  .hero-left {
    flex: 1;

    h1 {
      line-height: 1;
    }

    p {
      margin-top: 28px;
    }
  }

  .hero-btn {
    display: flex;
    gap: 16px;
    margin-top: 36px;

    button {
      width: 255px;
    }
  }

  .hero-right-img {
    flex: 1;
  }
  .hero-right-img img {
    width: 100%;
  }
}

/* Brand Section */

.brand-section {
  margin-top: 160px;
  margin-bottom: 100px;

  .brands {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 19px 76px;
    gap: 16px;
    justify-content: space-between;
    background-color: rgba(99, 88, 189, 0.2);
    border-radius: 8px;
    margin-top: 32px;
  }

  .brands img {
    &:first-child {
      height: 100% !important;
    }

    height: 40%;
  }
}

/* Smart Portfolio */

.anlytics {
  display: flex;
  align-items: center;
  gap: 45px;

  .anlytics-img {
    flex: 1;
  }
  .anlytics-img img {
    width: 100%;
  }

  .anlytics-content {
    flex: 1;

    h2 {
      margin-top: 16px;
      margin-bottom: 20px;
    }

    button {
      margin-top: 24px;
      min-width: 356px;
    }
  }
}

/* Testimonials Section */

.testimonial {
  margin-top: 174px;
  margin-bottom: 110px;
  text-align: center;
  h2{
    margin-top: 16px;
  }

  .testimonial-cards {
    display: flex;
    gap: 16px;
    margin-top: 120px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 95px 28px 48px 28px;
      position: relative;
      background-color: #3e057f;
      border-radius: 20px;
      gap: 20px;

      .img-testmonials {
        position: absolute;
        top: -30%;
        left: 50%;
        transform: translateX(-50%);
        width: 138px;
        
      }
      .img-testmonials img {
        /* mix-blend-mode: luminosity; */
        height: 138px;
        width: 138px;
        border-radius: 50%;
        z-index: 10000;
      }

      .card-circle{
        background-color: var(--foreground-color);
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
        left: 74%;
        bottom: 84%;

      }
    }
  }
}


/* Ready Section */

.ready-section{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
text-align: center;
background: linear-gradient(318deg, #b44cff 0%, #560d95 100%);
border-radius: 20px;
/* width: 1065px; */
height: 441px;

h2{
  margin-top: 24px;
  margin-bottom: 48px;
}

  button{
    background-color: black;
    color: white;
    border: none;
    max-width: 255px;
    margin: 0 auto;
  }
}


/* Footer */

footer{
display: flex;
justify-content: space-between;
margin-top: 120px;
margin-bottom: 48px;
font-weight: 400;

.logo{
  font-weight: 700;
  font-size: 20px;
  line-height: 137%;
}

  .footer-links{
    h4{
      font-weight: 600;
      font-size: 16px;
    }

    ul{
      line-height: 194%;

    }
    li{
      font-size: 16px;

    }

  

  }
}

.news-letter{

  .footer-input{
    margin-top: 20px;
    background: #13134d;
    border-radius: 9999px !important;
width: 345px;
position: relative;
    input{
      height: 50px;
padding: 0 16px;
height: 50px;
width: 100%;
background: #13134d;
border: none;
border-radius: 9999px !important;
outline: none;
color: white;


    }

    button{
      position: absolute;
      right: 4px;
      font-size: 14px !important;
      font-weight: 600 !important;
      letter-spacing: 0.1rem !important;
      height: 44px !important;
      width: 115px;
      padding: 0;
      border: none;
      margin-top: 3px;
background-color: var(--primary-color);
color: var(--foreground-color);
    }
  }
}





.footer-bar{
  border-radius: 20px;
  height: 12px;
  background: linear-gradient(318deg, #86cfd0 0%, #504ec3 100%);
}

.wrapper{
  overflow: hidden;
  z-index: 10;
position: relative;
}

.bg-grad{
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}